<table class="table-auto">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Symbol</th>
      </tr>
    </thead>
    <tbody>
        @for(coin of coins; track coin.id){
            <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap px-6 py-4 font-medium">{{   coin.id   }}</td>
                <td class="whitespace-nowrap px-6 py-4 font-medium">{{   coin.name   }}</td>
                <td class="whitespace-nowrap px-6 py-4 font-medium">{{   coin.symbol   }}</td>
            </tr>
        }
        @empty {
            <h3 class="text-green-500">No Coins</h3>
        }
    </tbody>
</table>
